/* 推荐 */
.van-grid-item__content{
	padding: 0;
}
*{
	padding: 0;
	margin: 0;
}
#img, #img>img{
	width: 30px;
	height: 20px;
	position: relative;
	top: 8px;
	left: 10px;
}
#icon{
	position: relative;
	top: 10px;
	right: 5px;
}
.a{
	margin-top: -4px;
}

/* 分类 */
.full{
	width: 100%;
}

/* 详情 */
.back{
	position: fixed;
	left: 10px;
	top: 10px;
	
}
/* 购物车 */
.table{
	text-align: center;
	margin: 0 auto;
}